{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/contributors/gordon-lenz/" role="button">about me</a>
      <p class="meta">All content on this site can be found on <a href="https://codeberg.org/x33u/www">Codeberg e.V.</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4"><a class="text-muted" href="/docs/server">Server</a></h2>
            <a class="text-muted" href="/docs/server">In this section we will the a lot server stuff, like setup and configuring services or whole systems.</a>
          </ul>
        </div>
        <div class="col-lg-5">
          <h2 class="h4"><a class="text-muted" href="/docs/software">Software</a></h2>
            <a class="text-muted" href="/docs/software">Software related stuff like how to run a specific task or how to configure it to fit your needs.</a>
        </div>
        <div class="col-lg-5">
          <h2 class="h4"><a class="text-muted" href="/docs/security">Security</a></h2>
          <ul>
            <a class="text-muted" href="/docs/security">All security relevants - How hardening services, secure connections or encrypt data.</a>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4"><a class="text-muted" href="/docs/ctf">CTF</a></h2>
          <ul>
            <a class="text-muted" href="/docs/ctf">Write downs of HTB, THM or other cool infosec platforms</a>
          </ul>
        </div>
        <div class="col-lg-5">
          <h2 class="h4"><a class="text-muted" href="/docs/kubernetes">Kubernetes</a></h2>
          <ul>
            <a class="text-muted" href="/docs/kubernetes">K8s notes, write downs and tutorials. Like you may know - Kubernetes is not only a long word it's also a lot stuff in the background.</a>
          </ul>
        </div>
        <div class="col-lg-5">
          <h2 class="h4"><a class="text-muted" href="/docs/openbsd">OpenBSD</a></h2>
          <ul>
            <a class="text-muted" href="/docs/openbsd">For me it is the best Operating System. It is quite easy and secure by default. The best of it - it comes as it is, with all software i need included.</a>
          </ul>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
